<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>changePwd</title>
</head>

<body>
    <h1>비밀번호 변경 화면</h1>
    <label for="password_exist">기존 비밀번호 : </label>
    <input type="password" id="password_exist">
    <br>
    <label for="password_change">변경할 비밀번호 : </label>
    <input type="password" id="password_change">
    <br>
    <button id="btn">비밀번호 변경</button>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/requestChangePwd.js"></script>
</body>

</html>