<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>findId</title>
</head>

<body>
    <h1>아이디 찾기</h1>
    <label for="userName">이름 : </label>
    <input type="text" id="userName">
    <br>
    <label for="dateOfBirth">생일 : </label>
    <input type="date" id="dateOfBirth">
    <br>
    <label for="email">이메일 : </label>
    <input type="email" id="email">
    <br>
    <button id="btn">찾기</button>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/requestFindId.js"></script>
</body>

</html>