<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leave</title>
</head>

<body>
    <h1>회원 탈퇴 화면</h1>
    <label for="password">비밀번호 확인 : </label>
    <input type="password" id="password">
    <br>
    <button id="btn">회원 탈퇴</button>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/requestLeaveId.js"></script>
</body>

</html>